<!DOCTYPE html>
<html>
  <head>
    <title>DavidLynchProfilePage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Roboto:ital,wght@0,300;0,400;1,100&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/scrollreveal@4"></script>
  </head>

  <body>
    <%= yield %>
    <script>
     ScrollReveal().reveal('.block', { delay: 500 });
     ScrollReveal().reveal('.music', { delay: 1000 });
    </script>
  </body>
</html>
